.cart {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 40px;
  color: blue;
}

#amount {
  top: 25%;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border-radius: 50px;
  left: auto;
  right: 6%;
  z-index: 1;
  position: absolute;
  font-weight: bold;
}

#cart:hover {
  color: #111344;
}
#user:hover {
  color: #111344;
}
#cartMenu {
  display: flex;
  top: 48px;
  right: -100%;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.32, -0.41, 0.54, 1.6);
  width: 15vw;
  z-index: 1000;
  background: #e4e2e2;
  flex-direction: column;
  padding: 5px 11px 5px 6px;
  overflow-y: auto;
}

#cartList {
  display: contents;
}

#cartMenu.show {
  right: 0px;
}
#cartImg {
  width: 20%;
}
#cartFont {
  font-size: 15px;
  display: flex;
  padding: 7px;
}
#remBtn {
  width: 33%;
  height: 1%;
}
