body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out linear;
}

.menu {
  background-color: black;
}

p1,
#close {
  color: black;
}
